<a href="https://colab.research.google.com/github/Elwing-Chou/ximen0926/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximen0926/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ximen0926/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

In [2]:
import pandas as pd
train = pd.read_csv("train.csv", encoding="utf-8")
test = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
test

In [ ]:
combine = pd.concat([train, test], axis=0, ignore_index=True)
combine = combine.drop(["PassengerId", "Survived"], axis=1)
combine

In [24]:
# 1. 補缺失值
s = combine.isna().sum()
s = s.sort_values(ascending=False)
s[s > 0]

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [22]:
# DataFrame/Series[跟你資料筆數依樣多的T/F]
test = pd.DataFrame([
    [1, 2],
    [3, 4]
])
test[[False, True]]

   0  1
1  3  4