<a href="https://colab.research.google.com/github/Elwing-Chou/ximen0926/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximen0926/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ximen0926/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f6226c1ddd0>)

In [49]:
import pandas as pd
train = pd.read_csv("train.csv", encoding="utf-8")
predict = pd.read_csv("test.csv", encoding="utf-8")

In [50]:
predict

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [51]:
combine = pd.concat([train, predict], axis=0, ignore_index=True)
combine = combine.drop(["PassengerId", "Survived"], axis=1)
combine

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1304,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [52]:
# 1. 補缺失值
s = combine.isna().sum()
s = s.sort_values(ascending=False)
s[s > 0]

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [53]:
# 篩選操作: DataFrame/Series[跟你資料筆數依樣多的T/F]
test = pd.DataFrame([
    [1, 2],
    [3, 4]
])
test[[False, True]]

   0  1
1  3  4

In [54]:
# everything is an object
# 每一個東西都有形態
# 字典: dic = {}  操作: dic[key]
# 功能: int 操作: (4.23)
b = int
b(4.23)
def test2(case):
    if case == True:
        return int
    else:
        return str
test2(True)(4.23)

4

In [55]:
# Series.apply(轉換功能)
test = pd.DataFrame([
    [1, 2],
    [3, 4]
], columns=["a", "b"])
def square(n):
    return n * n
test["b"] = test["b"].apply(square)
test

   a   b
0  1   4
1  3  16

In [ ]:
# demo
n = "Kelly, Mr. James"
n = n.split(".")[0].split(",")[-1]
n.strip()
# real
def transfer(n):
    n = n.split(".")[0].split(",")[-1]
    return n.strip() 
combine["Name"] = combine["Name"].apply(transfer)
combine

In [70]:
# value_counts()
dic = combine["Ticket"].value_counts()
def transfer(t):
    if pd.isna(t):
        return None
    else:
        return dic[t]
combine["Ticket"] = combine["Ticket"].apply(transfer)
combine

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,male,22.0,1,0,1,7.2500,NaN,S
1,1,Mrs,female,38.0,1,0,2,71.2833,C85,C
2,3,Miss,female,26.0,0,0,1,7.9250,NaN,S
3,1,Mrs,female,35.0,1,0,2,53.1000,C123,S
4,3,Mr,male,35.0,0,0,1,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
1304,3,Mr,male,NaN,0,0,1,8.0500,NaN,S
1305,1,Dona,female,39.0,0,0,3,108.9000,C105,C
1306,3,Mr,male,38.5,0,0,1,7.2500,NaN,S
1307,3,Mr,male,NaN,0,0,1,8.0500,NaN,S
1308,3,Master,male,NaN,1,1,3,22.3583,NaN,C